<!doctype html>
<html lang="en">
  <head>
    <div th:replace="/fragments/resource :: head-resource"></div>
    <title>Form</title>
  </head>
  <body>
    
    <nav th:replace="/fragments/navbar :: navbar(menu)"></nav>
    
    <h1 class="text-center mg-auto " th:text="${pizza.id != null} ? 'Modifica Pizza' : 'Crea una nuova pizza!'"></h1>
     <hr/>
     
    <div class="container">
    
<!--    <div th:switch="${user.role}">-->
<!--  <p th:case="'admin'">User is an administrator</p>-->
<!--  <p th:case="#{roles.manager}">User is a manager</p>-->
<!--</div>-->

     
    
   
    <form class="container d-flex"
    
 id="form-pizza" 
 th:object="${pizza}" 
 th:action="@{/save}"
 th:method="POST"
 >
 
<!-- <ul>-->
<!-- <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>-->
<!-- </ul>-->

<!-- campo nascosto -->
<div class="col-8">
<input type="hidden" th:field="*{id}">
  
  <div class="row mb-3 mt-4">
  <div class="col-6">
    <label class="form-label" for="name">Name</label>
    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Enter name" th:errorClass="is-invalid">
    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
    <ul>
    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
    </ul>
    </div>
    </div>
  
  <div class="col-6">
    <label class="form-label" for="price">Price</label>
    <input type="text" class="form-control" th:field="*{price}" id="price" placeholder="Enter price" th:errorClass="is-invalid">
    <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
    <ul>
    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
    </ul>
    </div>
  </div>
 </div>
  
  <div class="mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea class="form-control" th:field="*{description}" id="synopsis" placeholder="Enter description" th:errorClass="is-invalid"></textarea>
    <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
    <ul>
    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
    </ul>
    </div>
  </div>
  
  <button class="btn btn-primary" type="submit">Save</button>
</div>

  <div class="col-4">
<h6>Ingredienti</h6>
<div class="form-check" th:each="ing : ${ingredienti}">
<input class="form-check-input" th:field="*{ingredienti}" type="checkbox" th:id="|ingredienti_${ing.id}|" th:value="${ing.id}">
<label class="form check-label" th:for="|ingredienti_${ing.id}|" th:text="${ing.name}"></label>
</div>
  
</form>



    </div>
    
    <div th:replace="/fragments/resource :: script"></div>
     </body>
</html>