<!doctype html>
<html lang="en">
  <head>
    <div th:replace="/fragments/resource :: head-resource"></div>
    <title>Menu</title>
  </head>
  <body>
    
    <nav th:replace="/fragments/navbar :: navbar(menu)"></nav>
    
    
    <div class="container">
    
    <div class="mt-3 mb-3 alert alert-success" th:if="${successSms != null && successSms != ''}" th:text="${successSms}"></div>
    
    <h1 class="mx-auto mb-3 mt-3 w-50 text-center">Le nostre pizze!</h1>
    
    <table class="table mb-3" th:if="${menu.size() > 0}">
    <thead>
    <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Price</th>
    <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="m : ${menu}">
    <td th:text="${m.name}"></td>
    <td th:text="${m.description}"></td>
    <td>
    <ul><li th:each="ing : ${ingredienti}" th:text="${ing.name}"></li></ul>
    </td>
    <td th:text="'€ ' + ${m.price}"></td>
    <td>
    <a class="btn btn-primary" title="edit" th:href="@{|/edit/${m.id}|}"><i class="fa-solid fa-pen-to-square text-light"></i></a>
    <a class="btn btn-primary" title="delete" th:href="@{|/delete/${m.id}|}"><i class="fa-solid fa-trash-can text-light" onclick="return confirm('Are you sure?')"></i></a>
    </td>
    </tr>
    </tbody>
    </table>
    
    <div class="alert alert-info my-5" th:unless="${menu.size() > 0}">
  	<h3>There are no pizzas yet</h3>
  </div>
    
    <a class="btn btn-primary" th:href="@{/add}">Add a pizza</a>
    </div>
    
    <div th:replace="/fragments/resource :: script"></div>
     </body>
</html>